<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        h1{text-align: center}
        .card-header{background: beige}
        .Signin{margin-left: 45%; background: chocolate}
        .card{width: 40rem; height: 25%; margin-left: 20%; margin-top: 10%; padding-bottom: 20px; background:lavender}
    </style>
    <script>

        function login() {
            let uname = document.getElementById("username").value;
            let pwd = document.getElementById("password").value;
            //validations for inputs
            if (uname == null || uname === "") {
                alert("Please enter the username.");
                uname.focus();
                return false;
            }
            if (pwd == null || pwd === "") {
                alert("Please enter the password.");
                pwd.focus();
                return false;
            }
            let url = "http://localhost:1337/login";
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", url, true);
            xhttp.send(JSON.stringify({username:"uname",password:"pwd"}));
        }
    </script>
</head>
    <div class="container">
    <div class="card" >
        <h1 class="card-header">
            Login</h1>
        <div>
            <form action="" method="post">
                <div class="form-group">
                    <label for="username"><h4>Username</h4></label>
                    <input type="text"  maxlength="10" class="form-control" id="username" placeholder="Enter your username" autofocus>
                </div>
                <div class="form-group">
                    <label for="password"><h4>Password</h4></label>
                    <input type="password" minlength="8"  class="form-control" id="password" placeholder="Enter your password">
                </div>
                <button type="submit" class="Signin" onsubmit="login()" style = "margin-top: 3.5%">Sign in</button>

            </form>
        </div>
    </div>
</div>
