<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="text-align: center;"> Appraisal form</h1>
          <p class="lead text-center"> Get your property valued by experts </p>
        </div>
      </div>

<div class="container" style=" margin-top: 5%;">
        <form id="submit_details" action="http://localhost:1338/requestappraisal"  method="post">
                <div class="form-row">
                    <div class="form-group ">
                        <label for="Mortgage ID"> Mortgage ID </label>
                        <input type="number" class="form-control" id="mid" placeholder="Eg: M11023 " required="required" name="mid">
                    </div>
                    <div class="form-group ">
                        <label for="Property ID">Property ID </label>
                        <input type="number" class="form-control" id="mlsid" placeholder=" Eg: 990012" required="required" name="mlsid">
                  </div>
                </div>
                <div class="form-group">
                  <label for="URL">Your name </label>
                  <input type="text" class="form-control" id="name" placeholder="Eg: John" required="required" name="name">
                </div>

                <button type="submit" class=" btn btn-success btn-block">Submit Request</button>
              </form>
</div>

<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Application Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="content">
          hi
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
  $( "#submit_details" ).submit(function( event ) {
      event.preventDefault();
      var $form = $(this),
        name = $form.find( "input[name='name']" ).val(),
        mid= $form.find( "input[name='mid']" ).val(),
        mlsid= $form.find( "input[name='mlsid']" ).val(),
        url1 = $form.attr( "action" );


      // POST request
      var posting = $.post( url1, { name: name, mlsID : mlsid, mID: mid } );

      // Response
      posting.done(function(data) {
        console.log(data);
        if(data.result == "Application submitted succesfully"){

          $("#content").html("Application Submitted Succesfully!!");
          jQuery("#popup").modal('show');

        }

        else{
          alert("Please try again");
        }


      });
    });
</script>
