<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center;"> Evaluation form</h1>
  </div>
</div>

<div class="container" style=" margin-top: 5%;">
  <form id="submit_details" action="http://localhost:1338/submitreport"  method="post">
    <div class="form-row">
      <div class="form-group ">
        <label for="Mortgage ID"> Mortgage ID </label>
        <select class="form-control" id="mort-id" name= "mort-id">
          <option>Select</option>
        </select>
      </div>
      <div class="form-group ">
        <label for="Property ID">Property ID </label>
        <input type="number" class="form-control" id="mlsid" placeholder=" Eg: 990012" required="required" name="mlsid">
      </div>
    </div>
    <div class="form-group">
      <label for="URL">Value </label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" required="required" placeholder="Value in Dollars" name="amount">
      </div>
    </div>

    <button type="submit" class=" btn btn-success btn-block">Submit Report</button>
  </form>
</div>

<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Application Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $.ajax({
    dataType: "json",
    url: "http://localhost:1338/requests",
    success: function(res) {
      console.log(res);
      var select = $("#mort-id");
      if(res != null) {
        res.forEach(function(item) {
          if(item.status != "Evaluated")
          select.append("<option value=" + item.mortgageID + ">"+ item.mortgageID + "</option>");
        });
      }
    }
  });


  $("#submit_details").submit(function(event) {
    event.preventDefault();

    var $form = $(this),
      mID = $form.find("select[name='mort-id']").val(),
      amount = $form.find("input[name='amount']").val(),
      mlsid = $form.find("input[name='mlsid']").val(),
      url = $form.attr("action");

      if (mID == "Select") {
        alert("Please select a mortgageID");
        return;
      }
    // POST request
    var posting = $.post(url, {
      mlsid: mlsid,
      mID: mID,
      value: amount
    });

    // Response
    posting.done(function(data) {
      console.log(data);
      if (data.result == "Application updated succesfully") {

        $("#content").html("Evaluation Submitted Succesfully!!");
        jQuery("#popup").modal('show');

      } else {
        alert("Please try again");
      }

    });
  });
</script>
