<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<style>
    h1{text-align: center}
        .card-header{background: beige}
        .submit{margin-left: 45%; background: chocolate}
        .card{width: 50rem; height: 25%; margin-left: 20%; margin-top: 10px; padding-bottom: 20px; background:lavender}
        #statusmsg{ text-align: center}
        #statusmsg1{text-align: center}
        #statusmsg2{text-align: center}

        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

        .tablink:hover {
            background-color: #777;
        }
</style>
<script>
window.onload=  function() {
    console.log("Hello");
    let uname = sessionStorage.getItem('mortgageID'); 
    console.log(uname);
    // let pwd = document.getElementById("password").value;
            
            let url = "http://localhost:4000/getstatus?id=" + uname;
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    console.log("got response");
                    let result = JSON.parse(this.response);
                    if(result.mortgageStatus == "ID not found"){
                        alert("ID not Found");
                    }
                    else{
                        document.getElementById("statusmsg").innerHTML = "Your Insurance value is: " + result.insurance_value;
                        document.getElementById("statusmsg1").innerHTML = "Your RE status is: " + result.RE_status; 
                        document.getElementById("statusmsg2").innerHTML = "Employer Status: " + result.employeer_status;
                        
                    }
                    console.log(result);
                }
            };
            xhttp.open("GET", url, true);
            xhttp.send();
        }
</script>
<button class="tablink" style="width: 100%; font-size:30px; font-weight: bold"id="defaultTab">Application Status</button>
<div id="Status" class="tabcontent">
    <div class="container" style="margin-left: 18%;
    padding-top: 70px;">
     
        
            <div class="card" >
            <h1 class="card-header">
                Status of your mortgage </h1>
            <div>
                <p id="statusmsg">To be Updated</p>
            </div>
        </div>
        <div class="card" >
            <h1 class="card-header">
                Your RE Status </h1>
            <div>
                <p id="statusmsg1">To be Updated</p>
            </div>
        </div>
        <div class="card" >
            <h1 class="card-header">
               Employeer status </h1>
            <div>
                <p id="statusmsg2">To be Updated</p>
            </div>
        </div>
    </div>
</div>